

$WHITE: #FFFFFF;
$BLACK: #000000;

$BLUE_MAIN: #0088CE ;
$BLUE_OVER: #005783 ;
$BLUE_2H: #7bc7ee ;
$BLUE_4H: #a3d8fb ;
$BLUE_6H: #bfe2f5 ;
$BLUE_7H: #d7eefd  ;
$BLUE_8H: #eff8fc ;
$BLACK: #000 ;
$GREY_4B: #3e3d40 ;
$GREY_2B: #757575 ;
$GREY_HB: #999999 ;
$GREY_2H: #CCCCCC ;
$GREY_4H: #ecedeb ;
$GREY_8H: #fafafa ;
$PURPLE: #6e267b ;
$VIOLINE: #a1006b ;
$LIGHT_RED :  #cb0044 ;
$DARK_RED: #a31a2e ;
$LIGHT_GREEN: #7abb00 ;
$GREEN_TREFLE: #ccdc00 ;
$ORANGE: #ef471d ;
$LIGHT_ORANGE: #f0891f ;
$YELLOW: #ffb612 ;
$BLUE_CORSE: #009aa6 ;
$WHITE: #fff ;