<div class="sp-market-history-table">
    <div class="sp-table">
        <!-- headers -->
        <div class="sp-table-row sp-table-header">
            <div class="sp-table-cell">
            </div>
            <div class="sp-table-cell" *ngFor="let entry of history; trackBy: historyTrackByFn">
                <span>{{entry.index}}</span>
            </div>
        </div>
        <!-- stock lines -->
        <div class="sp-table-row" *ngFor="let stockName of stockNames">
            <div class="sp-table-cell">
                <span>{{stockName}}</span>
            </div>
            <div class="sp-table-cell" *ngFor="let entry of history; let i = index; trackBy: historyTrackByFn">
                <sp-editable-cell [value]="entry.stocks[stockName]"
                                  (onValueUpdated)="onCellEdition(stockName, entry.index, $event)">
                </sp-editable-cell>
            </div>
        </div>
    </div>
</div>