@import "~styles/colors.scss";

@import "./app/core/styles/base/reset.scss";
@import "./app/core/styles/base/buttons.scss";

body {
  background-color: lightgrey;
  padding: 10px;
}

* {
  box-sizing: border-box;
}
